# Authentication

Access to resources in the Tuition.io API requires a valid API Key and an authentication token.

Tuition.io expects your unique, public API key to be included in the `x-api-key` request header:

`x-api-key: <API_KEY>`

To authenticate requests, the Tuition.io API expects an authentication token to be sent in the `tio-auth-token` request header:

`tio-auth-token: <%= config[:api_token] %>`

## Build Your Own Token

<%= partial "includes/authentication/examples/token/ruby.md.erb" %>
<%= partial "includes/authentication/examples/token/shell.md.erb" %>

> Note: These examples use fixed timestamps<br>
> Make sure to replace `<%= config[:api_secret] %>` with your API Key secret.

The authentication token is a [JWT](http://jwt.io) encoded with the `HS512` algorithm and "signed" with the "secret" component of your API Key.

For example, Tuition.io provides you with the following API Key details:

Attribute Name | Value
-------------- | -------------
`key`          | `<%= config[:api_key] %>`
`secret`       | `<%= config[:api_secret] %>`

You might build your own authentication token with the code shown here.

JWT encoding libraries are available for most languages. Learn more at [jwt.io](http://jwt.io).

## Supported JWT Claims

Currently, the only required JWT claims are the "issued at" and "expiration" time stamps: `iat` and `exp`.

Parameter | Required | Description
--------- | -------- | -----------
`iat`     | YES      | The time the JWT was computed in seconds since epoch. The Tuition.io API does not allow JWTs older than 1 year of age or issued in the future. Setting `iat` to the current timestamp should work in most cases.
`exp`     | YES      | The time the JWT will expire. The Tuition.io API will reject requests with expired JWTs. For security, we recommend JWTs that expire after a few minutes. But the API allows JWTs up to 1 year old.
`id`      | no       | ID of authenticated user. If omitted, API Key user will be used.
`iss`     | no       | Something to identify you as the issuer of the token.

## Request Headers Example

```shell
curl -X GET "<%= config[:base_url] %>/employees" \
    -H "x-api-key: <%= config[:api_key] %>" \
    -H "tio-auth-token: <%= config[:api_token] %>"
```

<aside class="notice">
  <p>Remember to substitute <code><%= config[:base_url] %></code> for the Tuition.io API.</p>
  <p>You must replace <code><%= config[:api_key] %></code> with your API key.</p>
  <p>Send the authentication token (JWT) you generate and sign with your secret in the "tio-auth-token" header.</p>
</aside>

<%= partial "includes/authentication/errors.md.erb" %>
